* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top left, white, whitesmoke);
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.fa {
  padding-right: 10px;
  font-size: 1.5rem;
}

h1 {
  color: white;
  font-size: 2rem;
  margin-top: 15px;
}

header {
  width: 30%;
  height: 450px;
  margin: 50px auto;
  padding: 25px 50px;
  border-radius: 20px;
  background: linear-gradient(
    to top right,
    rgba(204, 43, 94, 1),
    rgba(150, 76, 175, 1)
  );
}

ul {
  width: 100%;
  margin: 30px 0px;
  list-style-position: outside;
}
ul li {
  list-style: none;
  height: 50px;
  padding: 10px 15px;
  border-radius: 30px;
  margin: 10px 0px;
}

li:hover {
  color: #cc2b5e;
  transition: 0.3s;
  background-color: white;
}
